<h2>ELECTRONICA INTEGRAL:</h2>
<h2>¡BIENVENIDO!</h2>
<div class="button-container">
  <a href="/api/products"><button class="inicio-button">Lista de Productos</button></a>
  <a href="/api/carts"><button class="inicio-button">Lista de Carritos</button></a>
</div>